<footer>
    <div class="f-info">
        <div class="f-into-socials">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
            <i class="fa-brands fa-twitter"></i>
        </div>
        <div class="brand"> &copy: Bookings Private Ltd</div>
        <div class="f-info-links">
            <a href="#">Privacy</a>
            <a href="#">Terms </a>


        </div>
    </div>
</footer>