<% layout('layouts/head') -%>
<body>
    <h3>Create a new listing...</h3>
    <div class="row">
        <div class="col-8 offset-2">
    <form method="post" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3" >
          <label for="title" class="form-lable">Title</label>
          <input
           type="text"
            name="listing[title]"
            class="form-control"  
            placeholder="Enter Title" 
            required>
        </div>
        <div class="mb-3">
            <label for="description" class="form-lable"> Description</label>
            <textarea type="text" 
            name="listing[description]" 
             class="form-control"
              placeholder="description" 
              required></textarea>
          </div>
        
        <div class="mb-3">
            <label for="image" class="form-lable">Upload Image</label>
            <input 
            type="file"
             name="listing[image]" 
             class="form-control"   >
        </div>
        <div class="row"> 
            <div class="mb-3 col-md-4" >
                <label for="price" class="form-lable">Price</label>
                <input 
                type="text"
                 name="listing[price]"
                 class="form-control" 
                  placeholder="Enter price" 
                  required>
            </div>
            <div class="mb-3 col-md-8" >
                <label for="country" class="form-lable">Country</label>
                <input type="text" 
                name="listing[country]"
                class="form-control"  
                placeholder="Enter country" 
                required>
            </div>
        </div>
   
<div class="mb-3" >
    <label for="location" class="form-lable">Location</label>
    <input type="text"
     name="listing[location]"
     class="form-control" 
      placeholder="Enter Location"
       required>
</div>

<br>
        <button
         type="submit" 
         class="btn btn-dark">Add</button>
      </form></div>
    </div>
</body>
